@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body {
    padding: 20px;
    margin: 0;
    overflow: hidden;
}

#videoFondo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}


#game-container {
    position: absolute;
    bottom: 0;
    left: 38%;
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: rgba(65, 64, 64, 0.7);
}

.note {
    width: 100px;
    height: 100px;
    background: #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #333;
    display: inline-block;
    position: relative;
    top: 85%;
}


#note1 {
    box-shadow: inset 0 0 0 2mm rgb(156, 0, 0);
}

#note2 {
    box-shadow: inset 0 0 0 2mm rgb(0, 119, 255);
}

#note3 {
    box-shadow: inset 0 0 0 2mm rgb(162, 0, 255);
}

#note4 {
    box-shadow: inset 0 0 0 2mm rgb(187, 0, 178);
}

.noteMove {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 12px solid #333;
    display: inline-block;
    position: relative;
}

#noteM1 {
    top: -500px;
    box-shadow: inset 0 0 0 2mm rgb(156, 0, 0);
}

#noteM2 {
    top: -400px;
    box-shadow: inset 0 0 0 2mm rgb(0, 119, 255);
}

#noteM3 {
    top: -250px;
    box-shadow: inset 0 0 0 2mm rgb(162, 0, 255);
}

#noteM4 {
    top: -600px;
    box-shadow: inset 0 0 0 2mm rgb(187, 0, 178);
}

#puntaje {
    font-family: new Rocker;
    font-size: 400%;
    text-align: center;
}

#tabla-puntajes {
    position: absolute;
    top: 20%;
    left: 15%;
    background-image: url('images/score.png');
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    color: white;
    border: 2px solid rgba(255, 212, 232, 0.7);
}

#tituloPuntaje {
    font-family: new Rocker;
    margin-bottom: 20px;
    font-size: 400%;
}

#missed {
    position: absolute;
    top: 60%;
    right: 15%;
    background-image: url('images/missed.png');
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    border: 2px solid rgba(255, 212, 232, 0.7);
}

#missed h2 {
    font-family: new Rocker;
    color: #ffffff;
    font-size: 300%;
    margin-bottom: 20px;
}

#puntosPerdidos {
    font-family: new Rocker;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
}

#pantallaPerdida {
    position: absolute;
    z-index: 9999;
    left: 400px;
    top: 100px;
    width: 1180px;
    height: 670px;
    border-radius: 10px;
    text-align: center;
    display: none;
    background-image: url(images/final.png);
    border: 3px solid rgba(255, 212, 232, 0.7);
}

#pantallaFinal{
    position: absolute;
    z-index: 9999;
    left: 400px;
    top: 100px;
    width: 1180px;
    height: 670px;
    border-radius: 10px;
    text-align: center;
    display: none;
    background-image: url(images/final.png);
    border: 3px solid rgba(255, 212, 232, 0.7);
}

#pause {
    color: rgba(148, 39, 90, 0.7);
    padding: 30px 30px;
    cursor: pointer;
    font-size: 250%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 630px;
    left: 200px;
    border-radius: 15px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}

#botonMusica {
    color: rgba(252, 52, 52, 0.795);
    padding: 30px 30px;
    cursor: pointer;
    font-size: 250%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 630px;
    left: 500px;
    border-radius: 15px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}

#r1 {
    color: rgba(168, 30, 248, 0.842);
    padding: 20px 20px;
    cursor: pointer;
    font-size: 200%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 450px;
    right: 17%;
    border-radius: 15px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff;
}

#r2{
    color: rgba(81, 170, 253, 0.918);
    padding: 40px 10px;
    cursor: pointer;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 450px;
    left: 180px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#r3{
    color: rgba(81, 170, 253, 0.918);
    padding: 40px 10px;
    cursor: pointer;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 450px;
    left: 180px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#textoPerder{
    color: rgba(165, 145, 78, 0.952);
    padding: 40px 10px;
    font-size: 650%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: -50px;
    left: 150px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#textoPerderF{
    color: rgba(165, 145, 78, 0.952);
    padding: 40px 10px;
    font-size: 500%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: -50px;
    left: 100px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#losted{
    color: rgba(73, 61, 131, 0.87);
    padding: 40px 10px;
    font-size: 500%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 200px;
    left: 150px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#scored{
    color: rgba(73, 61, 131, 0.87);
    padding: 40px 10px;
    font-size: 500%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 80px;
    left: 150px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#lost{
    color: rgba(97, 90, 133, 0.87);
    padding: 40px 10px;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 285px;
    left: 450px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#score{
    color: rgba(97, 90, 133, 0.87);
    padding: 40px 10px;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 160px;
    left: 450px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#lostF{
    color: rgba(97, 90, 133, 0.87);
    padding: 40px 10px;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 285px;
    left: 450px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#scoreF{
    color: rgba(97, 90, 133, 0.87);
    padding: 40px 10px;
    font-size: 400%;
    font-family: new Rocker;
    background-color: transparent;
    position: absolute;
    top: 160px;
    left: 450px;
    border-radius: 20px;
    text-shadow: 
        -1px -1px 0 #ffffff,  
         1px -1px 0 #ffffff,
        -1px  1px 0 #ffffff,
         1px  1px 0 #ffffff; 
}
#logo {
    display: block;
    margin: 20px auto;  /* Centrar el logo horizontalmente */
    max-width: 200px;  /* Ajustar el ancho máximo del logo */
    height: auto;  /* Mantener la proporción de aspecto */
}